body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .column {
    flex: 1;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 8px;
  }
  
  .badge {
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .applied {
    color: black;
  }
  
  .accepted {
    color: black;
  }
  
  .rejected {
    color: black;
  }
  
  .secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
